*{margin: 0; padding: 0;box-sizing: border-box;}
li{list-style: none;}
a,a:link,a:visited{text-decoration: none;color: inherit;}

/* 공용 */
.container{
    width: 1140px; margin: 0 auto;
    border: 2px solid #f0f;
}

header{width: 100%; color:#fff; padding:1rem;
    position: fixed; top:0;
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.8),rgba(0,0,0,0.1)); }

header .container{width: 100%;
    display: flex; justify-content: space-between; align-items: center;
}
header .container h1{font-size: 2.5rem;}
header .container nav ul{display: flex;}
header .container nav ul li{font-size: 1.3rem; padding: 10px;}

main{width: 100%;height: 100vh;
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.8),rgba(0,0,0,0.4)), url('img/people-2557396_1920.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex; justify-content: center;
    align-items: center;
}
main .container{color: #fff;text-align: center;}
main .container h2{font-size: 3.5rem;margin: 1.5rem 0;}
main .container p{font-size: 1.5rem; width: 500px;
    width: 700px;margin: 0 auto;
    
}
main .container button{
    cursor: pointer;
    border: 3px solid #fff; color: #fff;
    border-radius: 20px;
    font-weight: bold; padding: 1rem 2rem;
    background-color: transparent; margin-top: 3rem;
}
section{height: 2000px;}


